* 
  box-sizing: border-box

body
  +reg
img 
  max-width: 100%

.container
  width: 1177px
  margin: auto

.button
  border-radius: 10px
  background-color: $main-color
  border: none
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
.section
  padding: 57.5px 0
  &-title
    display: block
    font-size: 24px
    +bold
  &-subtitle
    display: block
    font-size: 16px
.input
  border: 1px solid $border-input
  padding-top: 26px
  padding-bottom: 21px
  padding-left: 25px
  font-size: 15px
  border-radius: 10px

@media (max-width: 1199px)
  .container
    max-width: 760px

@media (max-width: 768px)
  .container
    max-width: 580px
    width: 90%

@media (max-width: 567px)
  .container
    max-width: 320px
    width: 280px
