* 
  box-sizing: border-box

body
  +reg
img 
  max-width: 100%

.container
  width: 1177px
  margin: auto

.button
  border-radius: 10px
  background-color: $main-color
  border: none
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
.section
  padding: 57.5px 0
  &-title
    display: block
    font-size: 24px
    +bold
  &-subtitle
    display: block
    font-size: 16px
.input
  border: 1px solid $border-input
  padding-top: 26px
  padding-bottom: 21px
  padding-left: 25px
  font-size: 15px
  border-radius: 10px
  &:focus
    border: 1px solid $main-color
    outline: none

@media (max-width: 1199px)
  .container
    width: 729px
  .navbar__container
    max-width: 729px
  .offer__container
    max-width: 729px
@media (max-width: 768px)
  .container
    width: 450px
  .navbar__container
    max-width: 450px
  .offer__container
    max-width: 450px
@media (max-width: 567px)
  .container
    margin-right: auto
    margin-left: auto
    width: 90%
  .navbar__container
    max-width: 90%
  .offer__container
    max-width: 90%
  .section
    position: center

