* 
  box-sizing: border-box

body
  +reg
img 
  max-width: 100%
  display: block

.container
  width: 1177px
  margin: auto

.button
  border-radius: 10px
  background-color: $main-color
  border: none
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
.section
  &-title
    max-width: 500px
    display: block
    font-size: 24px
    text-align: center
    +bold
  &-subtitle
    display: block
    font-size: 16px
.input
  border: 1px solid $border-input
  padding-top: 26px
  padding-bottom: 21px
  padding-left: 25px
  font-size: 15px
  border-radius: 10px
  &.offer-invalid
    border: 1px solid $invalid-color
  &.modal-invalid
    border: 1px solid $invalid-color
  &.brif-invalid
    border: 1px solid $invalid-color
  &:focus
    border: 1px solid $main-color
    outline: none

// .error
//   border: 1px solid red
.scroll-up
  position: fixed
  right: 1%
  bottom: 3%
  display: flex
  width: 50px
  height: 50px
  border-radius: 50%
  border: 2px solid $main-color
  background: url(../img/scroll-up.png) no-repeat center
  background-size: 80%
  background-color: $main-color
  cursor: pointer
  &:focus
    outline: none
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
  opacity: 0
  &_active
    transition: 1.2s
    opacity: 0.6

  



@media (max-width: 1200px)
  .container
    width: 760px
  .navbar__container
    max-width: 729px
  .offer__container
    max-width: 729px
@media (max-width: 768px)
  .container
    width: 450px
  .navbar__container
    max-width: 450px
  .offer__container
    max-width: 450px
    
@media (max-width: 567px)
  .container
    margin-right: auto
    margin-left: auto
    width: 90%
  .navbar__container
    max-width: 90%
  .offer__container
    max-width: 90%
  .section
    position: center


