.offer
  background: url('../img/offer/offer-bg.png') no-repeat
  background-position: center right
  position: relative
  &:before
    content: ''
    width: 50%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: #ffffff
  &__tel
    padding-left: 31.5px
  &__container
    width: 1172px
  &-block
    width: 495px
    position: relative
  &__title
    max-width: 350px
    line-height: 35px
    padding-left: 1px
    margin-bottom: 19.5px
  &__subtitle
    max-width: 250px
    margin-bottom: 30px
    padding-left: 0.5px
  &__form
    width: 495
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__input
    margin-bottom: 30px
    &:first-child
      margin-right: 10px
    width: 48.5%
  &__button
    width: 100%
    min-height: 70px
    +bold
  &__text-box
    display: flex
    justify-content: space-between
    margin-top: 25px
    line-height: 24px
    font-size: 15px
  &__manager
    width: 226px
  &__call-us
    width: 199px
  &__phone
    line-height: 24px
    color: $text-color
    text-decoration: none
    +bold
@media (max-width: 1199px)
  .offer
    background-size: cover
    &__block
      position: absolute
      left: 0
    &__input
      width: 70%
      margin-bottom: 10px
    &__button
      width: 70%
      font-size: 14px
    &__text-box
      width: 70%
      font-size: 11px
    &__manager
      width: 48%
    &__call-us
      width: 42%
@media (max-width: 768px)
  .offer
    background: #ffffff
    &-block
      width: 100%
      padding-right: 0
    &__input
      width: 48%
      margin-bottom: 10px
    &__button
      width: 100%
      font-size: 14px
    &__text-box
      width: 100%
      font-size: 14px
@media (max-width: 567px)
  .offer
    padding: 0px 0px
    &-block
      margin-right: 0px
      width: 100%
    &__tel
      padding-left: 25px
    &__title
      padding-left: 0px
      font-size: 16px
      line-height: 25px
      max-width: 240px
    &__subtitle
      font-size: 11px
      margin-bottom: 25px
    &__input
      width: 100%
      margin-bottom: 15px
      font-size: 13px
      &:first-child
        margin-right: 0px
    &__button
      width: 100%
      font-size: 14px
      padding-right: 50px
      padding-left: 50px
      padding-top: 10px
      padding-bottom: 10px
    &__text-box
      width: 100%
      flex-direction: column
    &__manager
      width: 214px
      margin-bottom: 15px
    &__call-us
      width: 178px
      margin-bottom: 30px
@media (max-width: 320px)
  .offer
    padding-top: 30px
    // max-height: 590px
    &-block
      margin-bottom: 57px
    &__title
      margin-top: 18px
      margin-right: 0
      margin-left: 4px
      margin-bottom: 0
      font-size: 18px
      line-height: 1.25
      max-width: 270px
    &__subtitle
      margin-top: 17px
      margin-left: 3.5px
      font-size: 14px
    &__input
      margin-top: 4px
      margin-left: 4px
      margin-bottom: 4px
      max-width: 275px
      padding-right: 0px
      font-size: 15px
      line-height: 24px
      padding-bottom: 20px
      padding-top: 19px
      padding-left: 23px
    &__button
      margin-top: 5px
      font-size: 15px
      line-height: 19px
      margin-left: 6px
      margin-right: 7px
      margin-bottom: 21px
    &__text-box
      flex-direction: column
      margin-top: 0px
      margin-left: 10.5px
      line-height: 25px
    &__manager
      margin-top: 0px
      margin-bottom: 5px
    &__call-us
      margin-top: 0px
      margin-bottom: 0px



      





