@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("MuseoSansCyrl-300.woff2") format("woff2"), url("MuseoSansCyrl-300.woff") format("woff"), url("MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Museo Sans Cyrl 300', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 320px;
    width: 280px;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
}

.navbar {
  padding: 0.21rem;
}

.navbar__logo {
  padding-top: 0.1rem;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  font-size: 13px;
  font-family: 'Museo Sans Cyrl 300', sans-serif;
  font-weight: 300;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 6px;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar .navbar__contacts {
    display: none;
  }
}

.navbar__button {
  margin-left: 29.4px;
  padding: 17.5px 29px;
  font-size: 13px;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 700;
}

@media (max-width: 567px) {
  .navbar .navbar__button {
    width: 137px;
    font-size: 10px;
    margin-left: 50px;
    padding: 14px 25px;
    border-radius: 5px;
  }
  .navbar .navbar-block {
    width: 277px;
  }
  .navbar .navbar__logo {
    width: 91px;
  }
}

.hero {
  padding: 3.25rem 0;
  background-color: #f5f5f5;
}

.hero-image {
  display: block;
  max-width: 570px;
  max-height: 488px;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 20px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 700;
  margin-bottom: 14px;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  line-height: 69px;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 700;
  margin-bottom: 47px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.hero-list__image {
  -ms-flex-preferred-size: 38px;
      flex-basis: 38px;
  height: 38px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 29px;
}

.hero-list__text {
  max-width: 301px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Museo Sans Cyrl 300', sans-serif;
  font-weight: 300;
}

@media (max-width: 1199px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 320px) {
  .hero {
    height: 653px;
  }
}
/*# sourceMappingURL=style.css.map */